body {
  background: #b0a1bd;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  background: #5a2d82;
  color: #fff;
}

h2 {
  margin-top: 0px;
}
.comprar {
  background: #5a2d82;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.item {
  background-color: #da70d6;
  border: 1px solid #5a2d82;
  padding: 20px;
  border-radius: 4px;
  display: grid;
}
.conteiner {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  /* place-content: ; pode ser usado para resumir o conteúdo das propriedades abaixo */
  justify-content: space-evenly;
  align-content: end;
}
