 /* estilos de grid*/

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2,1fr) /* 2x repete 1fr*/

}
/* .preco {
  grid-row: 3;
  grid-column: 2; 
  grid-area: 2/2; /*atalho para grid row e grid column
}   
*/
.titulo {
  grid-column: 1/3;
}
.foto {
  grid-column: 1;
  grid-row: 2/5;
}





/* Estilos Gerais*/
body {
  font-family: Arial, Helvetica, sans-serif ;
  margin: 4px;  
}

h1,
p {
margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
  background: #fc0fc0;
}

p,
span{
font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar{
  background: #a8f;
  color:#103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 20px;
}

.grid {
  display: ms-grid;
  ms-grid-template-columns: 1fr 1fr;
  padding: 5px 10px;
}

.preco{
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}