h1 {
  background-color: #aaaaab;
  height: 300px;
  width: 300px;
  border: solid 10px #135329;
  padding: 10px 10px 15px 15px;
  margin-top: 25px;
}
a {
  border-width: 10px;
  border-style: solid;
  border-color: red;
  padding: 10px;
  margin-top: 10px;
}

div {
  padding: 20px;
  margin: auto;
}
