body{
  background: white;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}
.titulo-principal{
  display: block;
  padding: 5px;
  text-align: center;
}
.caixa {
  display: inline-block;
  background: black;
  width: 600px;
  padding: 10px;
  margin: 10px 380px;  
}
h2 {
  border: 2px solid black;
  display: block;
  background: black;
  color: white;
}
h3 {
  border: 2px solid black;
  display: block;
  background: black;
  color: gray;
}
.preco-carro, .preco-bicicleta, .preco, .km{
  color: goldenrod;
}
.preco-bicicleta {
  color: goldenrod;
}
.comprar {
  display: block;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  border-color: goldenrod;
  background-color: goldenrod;  
}
